<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="login_body">
        <div class="login-box">
            <h2>Diário de Bordo</h2>
            <h2></h2>
            <form>
                <div class="input_box">
                    <input required type="text" placeholder="RA do aluno">
                </div>

                <div class="input_box">
                    <input required type="password" placeholder="Senha">
                </div>

                <div>
                    <button class="submit">Entrar</button>
                </div>
            </form>

            <div>
                <div class="support">
                    <!-- Adicionado url_for para o href -->
                    <a href="{{ url_for('cadastro') }}">Cadastre-se</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

